.env
.DS_Store
._*
*.pyc
venv/
vim/backup/*
vim/undo/*
vim/sessions/*
vim/swap/*
vim/tags/*
vim/plugged/*
tmux/plugins/
!tmux/plugins/README.md
tmux/resurrect/*.txt
tmux/resurrect/last
zsh/plugins/*
!zsh/plugins/README.md
