snippet main
int main() {
	${0}
	return 0;
}
endsnippet

snippet cout
std::cout << "${0}" << std::endl;
endsnippet

snippet for-loop
for (size_t i = 0; i < ${1:array}.size(); i++) {
	${0:// some code}
}
endsnippet
